body {
    margin-bottom: 2000px;
    padding-top: 60px;
    padding-left: 80px;
}

.header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
}

.side-bar {
    background-color: green;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 72px;
}

.first-div {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    position: static;
}

.second-div {
    background-color: lightpink;
    height: 200px;
    width: 200px;
    position: relative;
}

.x {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.minute {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}